.view-box, .button-box{
  display: flex;
  justify-content: center;
}

.box{
  border: 5px solid black;
  width: 45%;
  max-width: 600px;
  margin: 20px;
}

.win.box{
  border: 5px solid rgb(88, 223, 95);
}

.lose.box{
  border: 5px solid rgb(245, 27, 27);
}

.box .item-img{
  display: block;
  margin: auto;
  width: 90%;
  object-fit: contain;
  min-height: 200px;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.box .who, .box .result{
  text-align: center;
}

.button-box button{
  margin: 0 10px;
  width: 60px;
  padding: 8px 0;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}